$font-size: 1.6rem;
$line-height: 1.6;
$bg-color: #fff;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans KR', 'Noto Sans', 'Malgun Gothic', sans-serif;
  line-height: $line-height;
  font-size: $font-size;
  color: $font-color-base;
  background: $bg-color;
}
