$breakpoint-very-small: 424px;
$breakpoint-small: 500px;
$breakpoint-tablet: 768px;
$breakpoint-mid: 900px;
$breakpoint-base: 960px;

$border-radius-base: 2px;
$box-shadow-base: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
$box-shadow-weak: 0 2px 5px 2px rgba(0, 0, 0, 0.05);

$button-color-deafult: #495057;
$button-color-default-hover: #2f3337;
$button-color-confirm-hover: #339af0;

// font color
$font-color-base: #333;
$font-color-weak: rgba(0, 0, 0, 0.3);

// font size
$title-font-size: 3.5rem;

// layout
$container-padding: 0 15px;
